---
layout: page.njk
title: 'Stamp: A cryptographic identity system'
---

Stamp is a distributed, cryptographic identity system used to represent a personal or group
identity in electronic systems. The Stamp project is both a protocol and a
[reference implementation][github], as well as a set of utilities for syncing your identity
across your devices, publishing to an open p2p network for easy lookup, and syncing
messages between identities in other p2p systems.

Stamp's goals are to be *reasonably secure by default*, have *an intuitive interface*,
and to be *a platform for other systems that use the concept of identity*.

[github]: https://github.com/stamp-protocol

