---
layout: page.njk
title: 'StampNet'
generate_toc:
  skip_levels: 1
---

<div class="toc md:float-right py-4 ml-4 mb-4 bg-gray-100">{:toc}</div>

# StampNet

StampNet is a work in progress and this page will be updated over time to reflect the
progress made on it. As currently planned, there are two main components to StampNet.

## Sync

The Sync protocol allows syncing your identity securely between devices you own. This
allows you to bring your Stamp identity with you wherever you are in a seamless fashion.

## Publish

The Publish protocol allows publishing your Stamp identity to a global network that allows
others to look your identity up either by its identifier string, your name, or your email.
This will make it possible to retrieve identities quickly, creating a foundation for
secure messaging between identities and establishing trust by crawling the identity network.

